<nav id="nav">
  <p><a href="/">Стартовая страница</a></p>
  <p><a href="web">Web-программирование</a></p>
  <p><a href="ais">Архитектура информационных систем</a>
  <p><a href="https://student.itmo.ru/ru/foreign_bach/" target="_blank">Иностранный язык в профессиональной деятельности</a>
  <p><a href="https://student.itmo.ru/ru/digital_culture_bach/" target="_blank">Цифровая культура в профессиональной деятельности</a>
  <p><a href="https://student.itmo.ru/ru/predcult_bachelor/" target="_blank">Предпринимательская культура</a>
  <p><a href="https://vk.com/kronbars" target="_blank">Физическая культура</a>
</nav>