<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Архитектура ИС</title>
  <link rel="stylesheet" href="../css/style_page.css">
  <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/usachova/ITMO-WEB/main/pics/icon.png">
</head>
<body>
{{> header }}

{{> nav }}

<main id="main">
  <section>
    <h3>Вид контроля: Экзамен</h3>
  </section>
  <section>
    <h2>Лекции</h2>
    <p><b>Преподаватель: <a href="https://isu.ifmo.ru/pls/apex/f?p=2143:3:109005729435709::NO::PID:182549" target="_blank">Демина Лилия Станиславовна</a></b></p>
  </section>
  <section>
    <h2>Практики</h2>
    <p><b>Преподаватель: <a href="https://isu.ifmo.ru/pls/apex/f?p=2143:3:109005729435709::NO::PID:182549" target="_blank">Демина Лилия Станиславовна</a></b></p>
    <p>Будет 4 лабы (с дедлайнами, макс. 60 баллов), 2 рубежки (макс. 20 баллов) и экзамен (макс. 20 баллов).<br>
      Нужно будет разбиться на команды (3-4 человека), вместе выполнять лабы.<br>
      Каждую лабу нужно будет защищать, делать по ней отчёт и презентацию.<br>
      На защите должна присутствовать вся команда, защищающий должен меняться (каждую лабу новый защищающий).<br>
      Каждая выполненная лаба в срок даёт по 5 баллов каждому студенту в этой команде.<br>
      Докладчик лабы получает от 5 до 15 баллов (ему могут задавать вопросы, за это также дают баллы).<br>
      За активное участие в занятиях дают 3-5 баллов (нужно задать докладчикам 2-3 вопроса).<br>
      За занятие каждой команде дают 15 баллов, их можно распределить по участникам на своё усмотрение.</p>
    <h3>Дедлайны</h3>
    <div class="grid-2-columns">
      <div class="cell"><b>ссылка</b></div>
      <div class="cell"><b>дедлайн</b></div>

      <div class="cell"><a href="https://disk.yandex.ru/d/DIhPsftKUuAoyQ" target="_blank">лабораторная 1</a></div>
      <div class="cell">21.02</div>

      <div class="cell"><a href="https://disk.yandex.ru/d/qEprC54vXvOODw" target="_blank">лабораторная 2</a></div>
      <div class="cell">?</div>

      <div class="cell"></div>
      <div class="cell"></div>

      <div class="cell"></div>
      <div class="cell"></div>
    </div>

    <p><b>Команда 1 - вариант 1:</b><br>
      Маслов Михаил Владимирович<br>
      Усачёва Мария Александровна<br>
      Храповицкий Даниил Вадимович<br>
      Иванов Евгений</p>

    <p><b>Команда 2 - вариант 2:</b><br>
      Казаков Никита Андреевич<br>
      Лещиков Дмитрий Евгеньевич<br>
      Тимофеев Захар Игорьевич<br>
      Чулков Руслан Григорьевич</p>

    <p><b>Команда 3 - вариант 3:</b><br>
      Гридинарь Николай Игоревич<br>
      Кузьмук Павел Юрьевич<br>
      Тарасов Денис Евгеньевич<br>
      Трутнев Севастьян Олегович</p>

    <p><b>Команда 4 - вариант 4:</b><br>
      Галеев Абдерашид Радикович<br>
      Севастьянов Юрий Алексеевич<br>
      Шукшина Ирина Алексеевна<br>
      Шарифов Сардорбек Дилшод угли</p>

    <p><b>Команда 5 - вариант 5:</b><br>
      Жуков Максим Александрович<br>
      Сесин Сергей Владимирович<br>
      Зябирова Алина Ренатовна<br>
      Кветкин (M33041)</p>

    <p><b>Команда 6 - вариант 4:</b><br>
      Дымчикова Аюна Чингисовна<br>
      Семина (M33041)<br>
      Ястреба (M33041)<br>
      Гуммель (M33041)</p>
  </section>
</main>
</body>
</html>