<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>M33061</title>
  <meta name="author"
        content="маша">
  <meta name="description"
        content="сайт пожилой группы">
  <meta name="keywords"
        content="университет, группа, одногруппники">
  <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/usachova/ITMO-WEB/main/pics/icon.png">
  <link rel="stylesheet" href="css/style_main.css">
  <script src="js/change_taylor.js"></script>
  <script src="js/load_time.js"></script>
</head>

<body>
{{> header }}

{{> nav}}

<aside id="aside">
  <ul>
    <b>Дедлайны недели 14.02-20.02:</b>
  </ul>
  <ul class="not-active">
    <b>Дедлайны недели 21.02-27.02:</b>
    <li>21.02 - Архитектура ИС 1 лаба</li>
    <li>25.02 - Web 1 лаба</li>
  </ul>
  <ul class="not-active">
    <b>Дедлайны недели 28.02-6.03:</b>
  </ul>
  <ul class="not-active">
    <b>Дедлайны недели 7.03-13.03:</b>
    <li>10.03 - Сети 1 лаба</li>
    <li>10.03 - Сети 2 лаба</li>
    <li>11.03 - Web 2 лаба</li>
  </ul>
</aside>

<main id="main">
  <section>
    <img src="https://raw.githubusercontent.com/usachova/ITMO-WEB/main/pics/taylor2.0-1.jpeg"
         width="252" height="234" title="мордочка." alt="мордочка."
         onclick="return ChangeTaylor2(this)">
    <ol>
      <b>Список группы:</b>
      <li><span class="rashid">Галеев Абдерашид Радикович</span> <span class="role">(больше не админ😢)</span></li>
      <li>Гридинарь Николай Игоревич</li>
      <li>Дымчикова Аюна Чингисовна</li>
      <li>Жуков Максим Александрович</li>
      <li>Зенович Артем Леонидович</li>
      <li>Зябирова Алина Ренатовна</li>
      <li>Иванов Евгений</li>
      <li>Казаков Никита Андреевич</li>
      <li>Кузьмук Павел Юрьевич</li>
      <li>Лещиков Дмитрий Евгеньевич</li>
      <li>Маслов Михаил Владимирович</li>
      <li>Мещерская Елизавета Александровна</li>
      <li>Севастьянов Юрий Алексеевич</li>
      <li>Сесин Сергей Владимирович</li>
      <li>Тарасов Денис Евгеньевич</li>
      <li>Тимофеев Захар Игорьевич</li>
      <li>Трутнев Севастьян Олегович</li>
      <li>Усачёва Мария Александровна <span class="role">(боба)</span></li>
      <li>Храповицкий Даниил Вадимович <span class="role">(биба)</span></li>
      <li>Чулков Руслан Григорьевич</li>
      <li>Шарифов Сардорбек Дилшод угли</li>
      <li>Шукшина Ирина Алексеевна</li>
    </ol>

    <img src="https://raw.githubusercontent.com/usachova/ITMO-WEB/main/pics/taylor/taylor-1.jpg"
         width="250" height="250" title="тейлор-груша" alt="села сидит) ну пусть сидит">
    <img src="https://raw.githubusercontent.com/usachova/ITMO-WEB/main/pics/taylor/taylor-2.jpg"
         width="250" height="250" title="тейлор-шар" alt="в коробке)">
    <img src="https://raw.githubusercontent.com/usachova/ITMO-WEB/main/pics/taylor/taylor-3.jpg"
         width="250" height="250" title="тейлор+наруто" alt="смотрит наруто)">
    <br>
    <input id="comment" type="text" placeholder="введите текст">
    <button onclick="send()">оставить комментарий</button>
    <ol id="comments"></ol>
  </section>
</main>

{{> footer}}

<script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
<script src="js/chat.js"></script>
</body>
</html>