<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>M33061</title>
  <meta name="author"
        content="маша">
  <meta name="description"
        content="сайт пожилой группы">
  <meta name="keywords"
        content="университет, группа, одногруппники">
  <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/usachova/ITMO-WEB/main/pics/icon.png">
  <link rel="stylesheet" href="css/style_main.css">
  <script src="js/change_taylor.js"></script>
</head>

<body>
{{> header }}

{{> nav}}

<aside id="aside">
  <ul>
    <b>Дедлайны недели 14.02-20.02:</b>
  </ul>
  <ul class="not-active">
    <b>Дедлайны недели 21.02-27.02:</b>
    <li>21.02 - Архитектура ИС 1 лаба</li>
    <li>25.02 - Web 1 лаба</li>
  </ul>
  <ul class="not-active">
    <b>Дедлайны недели 28.02-6.03:</b>
  </ul>
  <ul class="not-active">
    <b>Дедлайны недели 7.03-13.03:</b>
    <li>10.03 - Сети 1 лаба</li>
    <li>10.03 - Сети 2 лаба</li>
    <li>11.03 - Web 2 лаба</li>
  </ul>
</aside>

<main id="main">
  <section>
    <img src="https://raw.githubusercontent.com/usachova/ITMO-WEB/main/pics/taylor2.0-1.jpeg"
         width="252" height="234" title="мордочка." alt="мордочка."
         onclick="return ChangeTaylor2(this)">
    <ol>
      <b>Список группы:</b>
      <li><span class="rashid">Галеев Абдерашид Радикович</span> <span class="role">(больше не админ😢)</span></li>
      <li>Гридинарь Николай Игоревич</li>
      <li>Дымчикова Аюна Чингисовна</li>
      <li>Жуков Максим Александрович</li>
      <li>Зенович Артем Леонидович</li>
      <li>Зябирова Алина Ренатовна</li>
      <li>Иванов Евгений</li>
      <li>Казаков Никита Андреевич</li>
      <li>Кузьмук Павел Юрьевич</li>
      <li>Лещиков Дмитрий Евгеньевич</li>
      <li>Маслов Михаил Владимирович</li>
      <li>Мещерская Елизавета Александровна</li>
      <li>Севастьянов Юрий Алексеевич</li>
      <li>Сесин Сергей Владимирович</li>
      <li>Тарасов Денис Евгеньевич</li>
      <li>Тимофеев Захар Игорьевич</li>
      <li>Трутнев Севастьян Олегович</li>
      <li>Усачёва Мария Александровна <span class="role">(боба)</span></li>
      <li>Храповицкий Даниил Вадимович <span class="role">(биба)</span></li>
      <li>Чулков Руслан Григорьевич</li>
      <li>Шарифов Сардорбек Дилшод угли</li>
      <li>Шукшина Ирина Алексеевна</li>
    </ol>
    <ul>
      <b>Куча сайтов итмошных:</b>
      <li><a href="https://isu.ifmo.ru/" target="_blank">пожилое ису</a></li>
      <li><a href="https://de.ifmo.ru/" target="_blank">цдо с баллами и тестиками</a></li>
      <li><a href="https://bars.itmo.ru/" target="_blank">барс с баллами которых нет в цдо</a></li>
      <li><a href="https://fitp.itmo.ru/" target="_blank">сайт фитипа</a></li>
      <li><a href="https://my.itmo.ru/" target="_blank">твой (чей?) итмо</a></li>
      <li><a href="https://openedu.ru/" target="_blank">тут онлайн курсы</a></li>
      <li><a href="https://student.itmo.ru/ru/choice_bach/" target="_blank">инфа о курсах по выбору</a></li>
      <li><a href="https://t.me/cattherapy" target="_blank">кошкотерапия</a></li>
    </ul>
  </section>
</main>

{{> footer}}
</body>
</html>