<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Философия</title>
    <link rel="stylesheet" href="../css/style_page.css">
    <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/usachova/ITMO-WEB/main/pics/icon.png">
</head>
<body>
{{> header }}

{{> nav}}

<main id="main">
    <section>
        <h3>Вид контроля: Зачет</h3>
    </section>
    <section>
        <h2>Лекции</h2>
        <p><b>Преподаватель: <a href="https://isu.ifmo.ru/pls/apex/f?p=2143:3:109005729435709::NO::PID:316092" target="_blank">Гончарко Оксана Юрьевна</a></b></p>
        <ul>
            <b>Способы связи</b>
            <li><a href="https://t.me/Goncharko_0">https://t.me/Goncharko_0</a></li>
            <li><a href="https://spbu.academia.edu/Goncharko_Oksana">https://spbu.academia.edu/Goncharko_Oksana</a></li>
            <li><a href="https://vk.com/goncharko_o">https://vk.com/goncharko_o</a></li>
        </ul>
    </section>
    <section>
        <h2>Практики</h2>
        <p><b>Преподаватель: <a href="https://isu.ifmo.ru/pls/apex/f?p=2143:3:109005729435709::NO::PID:261151" target="_blank">Сюткин Антон Сергеевич</a></b></p>
        <ul>
            <b>Как получать баллы:</b>
            <li>работа на семинаре</li>
            <li>тест</li>
            <li>дебаты в конце семестра (по тексту или теме которую мы захотим обсудить)</li>
        </ul>
        <ul>
            <b>Ссылки:</b>
            <li><a href="https://t.me/+3L7EM8cOCq01YmUy" target="_blank">чат с преподом</a></li>
        </ul>
    </section>
</main>
</body>
</html>