<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Практика</title>
    <link rel="stylesheet" href="../css/style_page.css">
    <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/usachova/ITMO-WEB/main/pics/icon.png">
</head>
<body>
{{> header }}

{{> nav}}

<main id="main">
    <section>
        <h3>Вид контроля: дифф зачёт по каждой</h3>
    </section>
<!--    <section>-->
<!--        <h2>Лекции</h2>-->
<!--        <p><b>Преподаватель: </b></p>-->
<!--    </section>-->
<!--    <section>-->
<!--        <h2>Практики</h2>-->
<!--        <p><b>Преподаватель: </b></p>-->
<!--    </section>-->
</main>
</body>
</html>