<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Телекоммуникационные системы и технологии</title>
    <link rel="stylesheet" href="../css/style_page.css">
    <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/usachova/ITMO-WEB/main/pics/icon.png">
</head>
<body>
{{> header }}

{{> nav}}

<main id="main">
    <section>
        <h3>Вид контроля: Экзамен</h3>
    </section>
    <section>
        <h2>Лекции</h2>
        <p><b>Преподаватель: <a href="https://isu.ifmo.ru/pls/apex/f?p=2143:3:109005729435709::NO::PID:112280" target="_blank">Береснев Артем Дмитриевич</a></b></p>
        <ul>
            <b>Ссылки/способы связи:</b>
            <li>+79213106998</li>
            <li>tg: @artemberesnev</li>
            <li><a href="t.me/ITSMDaO" target="_blank">канал в телеге</a></li>
            <li><a href="t.me/ITSMDaoChat" target="_blank">чат канала выше</a></li>
            <li><a href="youtube.com/c/ITSMDaO" target="_blank">видеозаписи различных лекций</a></li>
            <li><a href="https://www.youtube.com/watch?v=0PX6yvous3Q&list=PLf4R2kS4aMYaqjOuYj_F7adtxLcVHYujZ&ab_channel=ITSMDao.%D0%9B%D0%B5%D0%BA%D1%86%D0%B8%D0%B8%D0%BF%D0%BEIT" target="_blank">
                видеозаписи конкретно наших лекций</a></li>
        </ul>
        <ul>
            <b>О курсе:</b>
            <li>7 практических работ - 86 баллов</li>
            <li>2 теста: включают и теор вопросы и практические, проходят очно - по 8 баллов</li>
            <li>на экзамене можно будет добрать баллы</li>
        </ul>
    </section>
    <section>
        <h2>Практики</h2>
        <p><b>Преподаватель: <a href="https://isu.ifmo.ru/pls/apex/f?p=2143:3:109005729435709::NO::PID:241783" target="_blank">Смирнов Станислав Михайлович</a></b></p>
        <p>Сдавать можно в команде до 3 человек</p>
        <h3>Дедлайны</h3>
        <div class="grid-3-columns">
            <div class="cell"><b>Лабораторная работа</b></div>
            <div class="cell"><b>Баллы</b></div>
            <div class="cell"><b>Дедлайн</b></div>

            <div class="cell"><a href="https://docs.google.com/document/d/1c0_ZIJRjhxUJ2sKuLjgq_U1Eq4oc4dlR/edit?usp=sharing&ouid=105895795501397605521&rtpof=true&sd=true"
                                 target="_blank">Консольные утилиты настройки сетевых компонентов в ОС Windows и Linux</a></div>
            <div class="cell">12</div>
            <div class="cell"></div>

            <div class="cell"><a href="https://docs.google.com/document/d/1GMn98FBBZ5H2REyI5NZUwo6kZ5Ppo9ot/edit?usp=sharing&ouid=105895795501397605521&rtpof=true&sd=true"
                                 target="_blank">Работа с адресами IP сетей</a></div>
            <div class="cell">12</div>
            <div class="cell"></div>

            <div class="cell"></div>
            <div class="cell">12</div>
            <div class="cell"></div>

            <div class="cell"></div>
            <div class="cell">12</div>
            <div class="cell"></div>

            <div class="cell"></div>
            <div class="cell">12</div>
            <div class="cell"></div>

            <div class="cell"></div>
            <div class="cell">12</div>
            <div class="cell"></div>

            <div class="cell"></div>
            <div class="cell">12</div>
            <div class="cell"></div>
        </div>
    </section>
</main>
</body>
</html>