body {
    display: grid;
    grid-template-areas:
    "header header header"
    "nav main aside"
    "footer footer footer";
    grid-template-rows: 100px 1fr 50px;
    grid-template-columns: 20% 1fr 20%;
    grid-gap: 10px;
    height: 100vh;
    margin: 0;
}

#header {
    grid-area: header;
}

#footer {
    grid-area: footer;
}

#aside {
    grid-area: aside;
}

#nav {
    grid-area: nav;
}

#main {
    grid-area: main;
}

header {
    background: #E6E6E6;
    /*position: center;*/
}

header button {
    margin-left: 10px;
    margin-top: 10px;
}

header p {
    margin-left: 10px;
    margin-top: 10px;
}

h1 {
    font-family: Snell Roundhand, serif;
    text-align: center;
    font-size: 200%;
    text-transform: uppercase;
}

nav {
    background: #F2F2F2;
    text-align: center;
    padding: 0;
}

nav a {
    display: block;
    color: #000;
    padding: 8px;
    text-decoration: none;
}

nav a.active {
    background-color: #A6A6A6;
    color: white;
}

nav a:hover:not(.active) {
    background-color: #666666;
    color: white;
}

a {
    color: #a35fc4;
    text-decoration: underline;
    target: "_blank";
}

aside {
    background: #F2F2F2;
}

aside ul.not-active {
    color: #666666;
}

section {
}

article {
}

pre {
    text-indent: 0;
}

footer {
    background: #E6E6E6;
    padding-left: 10px;
}

img {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.role {
    color: #dc6f6f;
}

.ascii {
}

@media screen and (max-width: 700px) {
    .ascii {
        display: none;
    }
}

.grid-2-columns {
    display: grid;
    background: black;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
    padding: 1px;
}

.grid-3-columns {
    display: grid;
    background: black;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1px;
    padding: 1px;
}

.grid-4-columns {
    display: grid;
    background: black;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
    padding: 1px;
}

.rashid {
    color: white;
}

.cell {
    background: white;
    padding: 10px;
}

@media screen and (max-width: 1000px) {
    body {
        display: grid;
        grid-template-areas:
        "header"
        "nav"
        "main"
        "aside"
        "footer";
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        height: 100vh;
        margin: 0;
    }

    h1 {
        font-family: Snell Roundhand, serif;
        font-size: 100%;
        text-align: center;
        text-transform: uppercase;
    }

}